<%- include('includes/header.ejs') -%>

<h2>Hello <%=name %></h2>
<p>How is your <%=day %> going?</p>

<h2>Here is the first user information:</h2>
<% for (let i = 0; i < users.length; i++) { %>
<p><strong>First Name:</strong> <%=users[i].firstname%></p>
<p><strong>Last Name:</strong> <%=users[i].lastname%></p>
<p><strong>Email:</strong> <%=users[i].email%></p>
<% } %>

<%- include('includes/footer.ejs') -%>

