<%- include('includes/header.ejs') -%>

    <p><strong>First Name:</strong> <%= firstname %></p>
    <p><strong>Last Name:</strong> <%= lastname %></p>
    <p><strong>Email:</strong> <%= email %></p>

<%- include('includes/footer.ejs') -%>