<%- include('includes/header.ejs') -%>

<h2>Users:</h2>

<% for (let i = 0; i < users.length; i++) { %>
<p><strong>First Name:</strong><%= users[i].firstname %></p>
<p><strong>Last Name:</strong><%= users[i].lastname %></p>
<p><strong>Email:</strong><%= users[i].email %></p>
<% } %>

<%- include('includes/footer.ejs') -%>

